## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.out
*.lof
*.toc
*.gz
*.blg
*.bbl

## Fonts
*.otf
*.ttf
*.txt

## Intermediate documents:
*.dvi
*.ps
*.eps
*.pdf

## Images:
*.png
*.jpg
*.ai
*.psd
*.fig
*.eps
*.gif
fonts/.DS_Store
*.DS_Store
fonts/._TeX-Gyre-Termes
fonts/EB Garamond/README.markdown